.back-to-top svg {width:24px;height:24px;vertical-align: middle}
.back-to-top svg path {fill: #4d90fe;}
.back-to-top:hover svg path{fill: #f95b41}
.back-to-top:hover{transform: rotate(-45deg);}
.back-to-top {background:#fff;padding:9px 9px;font-size:24px;border-radius: 100px;transition:all .30s ease-in-out;;border:2px solid #4d90fe;position: fixed !important;position: absolute;bottom: 20px;right: 20px;transition:transform .5s ease-out;z-index: 999;box-shadow:0px 2px 10px 0px #aaaaaa}
